header{
    display: flex;
    width: 50%;
    min-width: 240px;
    height: fit-content;
    justify-self: center;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem;
    padding-left: 1.5rem;
    border: hsl(217, 16%, 45%) solid 3px;
    border-radius: 0.5rem;
    justify-content: space-between;
    img{
        width: 10vw;
        min-width: 80px;
    }
    .score-container{
        display: flex;
        padding: 1rem 2rem;
        height: fit-content;
        background-color: #fff;
        border-radius: 0.5rem;
        flex-direction: column;
        align-items: center;
        p{
            color: hsl(229, 64%, 46%);
            margin: 0;
        }
        .score{
            font-size: 4rem;
            font-weight: 700;
            height: fit-content;
            color: hsl(229, 25%, 31%);
        }
    }
}

@media only screen and (max-width:667px){
    header{
        .score-container{
            padding: 0.5rem 1.25rem;
            p{
                font-size: small;
            }
            .score{
                font-size: 3rem;
            }
        }
    }
}
