.rules-overlay{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba($color: #000000, $alpha: 0.5);
    .rules-container{
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
        width: 25vw;
        padding: 2rem;
        padding-bottom: 3rem;
        background-color: #fff;
        border-radius: 0.5rem;
        p{
            margin: 0;
            font-size: 1.75rem;
            color: hsl(229, 25%, 31%);
            font-weight: 700;
        }
        .rules-img{
            width: 100%;
            grid-column: 1/3;
        }
        
        .close-btn{
            width: 1.25rem;
            justify-self: end;
            &:hover{
                cursor: pointer;
            }
        }
        
    }
}

@media only screen and (max-width: 768px){
    .rules-overlay{
        .rules-container{
            width: 50vw;
        }
    }
}

@media only screen and (max-width: 375px){
    .rules-overlay{
        .rules-container{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0;
            padding-top: 4rem;
            justify-items: center;
            .rules-img{
                width: 80%;
            }
            .close-btn{
                order: 3;
            }
            p{
                grid-column: 1/3;
            }
        }
    }
}